main {
    max-width: 840px;
}

h1 {
    color: #000;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

nav {
    color: #000;
    padding: 5px;
    display: block;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 250px;
    height: auto;
    border: #000;
    padding: 5px;
    box-shadow:5px 10px;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px;
    text-align: center;
}